body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(239, 228, 176);
    font-family: 'Courier New', Courier, monospace;
}

.index-titulo {
    background-color: rgb(221, 88, 0);
    text-align: center;
    margin-top: 0px;
    color: white;
    font-size: 70px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.377);
}

h2 {
    text-align: center;
    color: rgb(221, 88, 0);
}

.tela-escolha {
    background-color: white;
    width: 900px;
    margin: auto;
    border: 5px solid rgb(221, 88, 0);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.514);
}

.funcao {
    padding: 5px;
    display: inline-block;
    width: 280px;
}

a {
    text-decoration: none;
}

figure {
    border: 2px solid rgba(0, 0, 0, 0.300);
    width: 220px;
    border-radius: 10px;
    padding: 8px;
}

figcaption {
    color: black;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

img {
    border: 1px solid rgba(0, 0, 0, 0.200);
    padding: 5px;
    margin: auto;
    display: block;
}